.experience-text, .skills-text, .contact-text, .education-text {
  font-size: $xx-large;
}



h1 {
  font-weight: $black;
}
h3 {
  font-weight: $regular;
}

h2 {
 font-weight: $bold;
}

p {
  font-weight: $light;
}


.sidenav a {
font-size: 24px;
}
