//Esquema de colores
$pastel-green: #7CEA9C;
$navy: #2D3047;
$smoky: #071013;
$white: #FFFFFF;
$silver: #A6A5A8;

//Font Family

$lato: 'Lato', sans-serif;

//Peso de fuentes
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

//Tamaños de fuentes

$xxx-large: 68px;
$xx-large: 60px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
